/* index.html main page styles */
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background: var(--back-gif) center;
    background-size: cover;
    display: flex;
    font-family: 'Product Sans';
    font: 'Product Sans';
}
.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info {
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: 300px;
    width: 300px;
    display: flex;
    background: none;
    padding: 35px;
    color: var(--text-color);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: grey solid 1px;
}
.buttons {
    min-width: 300px;
    width: 300px;
    display: flex;
    padding: 0px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -khtml-border-radius: 1px;
}
a.link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    padding: 8px 20px;
    margin: 4px;
    background: var(--back-color);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    width: 256px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    border: var(--border);
}

.avatar-container {
    margin: 0 0.4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
    border: grey solid 2px;
}

.pizdec {
    position: relative;
    display: inline-flex;
    padding: 0.3em;
}

a.link:hover,
button:hover {
    background: #fff6;
    color: white;
}

button:active, button:focus {
      outline: none;
}

button::-moz-focus-inner {
      border: 0;
}

button::-webkit-focus-inner {
    border: 0;
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

h3 {
    font-style: normal;
    font-weight: inherit;
    transition: .2ms;
    -webkit-transition: .2ms;
    -moz-transition: .2ms;
}

h2 {
    font-size: larger;
    transition: .2ms;
    -webkit-transition: .2ms;
    -moz-transition: .2ms;
}

#gitlink,
#donate {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    overflow: auto;
}
.popup {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: var(--over-color);
    color: var(--popup-text-color);
    z-index: 1000;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    border-radius: 14px;
    font: 'Product Sans';
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}
input[type=button] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    padding: 12px 20px;
    background: rgb(55, 55, 55);
    color: #fff;
    border: 0 none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}

input[type=button]:hover {
    background: grey;
}

input[type=button]:active, input[type=button]:focus {
    outline: none;
}

input[type=button]::-moz-focus-inner {
      border: 0;
}

input[type=button]::-webkit-focus-inner {
    border: 0;
}

.btn {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

a.nolink:active,
a.nolink:hover,
a.nolink {
    text-decoration: none;
    color: #666;
    outline: none;
    border: none;
}

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.lightrope li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #00f7a5;
  box-shadow: 0px 4.66667px 24px 3px #00f7a5;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
  background: cyan;
  box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
  background: #c48703;
  box-shadow: 0px 4.66667px 24px 3px #da780a;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.lightrope li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 1px;
}

.lightrope li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.66667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.lightrope li:last-child:after {
  content: none;
}

.lightrope li:first-child {
  margin-left: -40px;
}

@-webkit-keyframes flash-1 {
  0%, 100% {
    background: #f3f700;
    box-shadow: 0px 4.66667px 24px 3px #f3f700;
  }
  50% {
    background: rgba(247, 210, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 202, 0, 0.2);
  }
}

@keyframes flash-1 {
  0%, 100% {
    background: #f7f300;
    box-shadow: 0px 4.66667px 24px 3px #f3f700;
  }
  50% {
    background: rgba(231, 247, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(243, 247, 0, 0.2);
  }
}

@-webkit-keyframes flash-2 {
  0%, 100% {
    background: rgb(255, 0, 0);
    box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 0);
  }
  50% {
    background: rgba(255, 0, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(255, 0, 0, 0.2);
  }
}

@keyframes flash-2 {
  0%, 100% {
    background: rgb(255, 0, 0);
    box-shadow: 0px 4.66667px 24px 3px rgb(255, 0, 0);
  }
  50% {
    background: rgba(255, 0, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(255, 0, 0, 0.2);
  }
}

@-webkit-keyframes flash-3 {
  0%, 100% {
    background: #d88d03;
    box-shadow: 0px 4.66667px 24px 3px #d68c01;
  }
  50% {
    background: rgba(247, 140, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 140, 0, 0.2);
  }
}

@keyframes flash-3 {
  0%, 100% {
    background: #f76f00;
    box-shadow: 0px 4.66667px 24px 3px #f76f00;
  }
  50% {
    background: rgba(247, 111, 0, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(247, 161, 0, 0.2);
  }
}
